<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container-full d-flex flex-between align-item-center h-100">
      <div class="brand">
        <a href="index.html"><img  src="assets/images/logo-new.png" alt=""></a>
      </div>
      <div class="nav">
        <ul class="d-flex flex-between">
          <li class="nav-item">系列鏡框</li>
          <li class="nav-item"><a href="location.html">門市據點</a></li>
          <li class="nav-item">部落格</li>
          <li class="nav-item"><a href="qa.html">常見問題</a></li>
        </ul>
      </div>
    </div>
  </header>

  <%- contents %>

  <footer class="footer ">
    <div class="container">
      <div class="d-flex flex-between footerList border-b">
        <ul class="d-flex flex-between align-item-center sum">
          <li class="nav-item-sm">首頁</li>
          <li class="nav-item-sm">系列鏡框</li>
          <li class="nav-item-sm">門市據點</li>
          <li class="nav-item-sm">部落格</li>
          <li class="nav-item-sm">常見問題</li>
        </ul>
        <ul class="d-flex flex-between">
          <li class="footer-icon"><img src="assets/images/ic_social_fb.svg" alt=""></li>
          <li class="ml-2 footer-icon"><img src="assets/images/ic_social_ig.svg" alt=""></li>
          <li class="ml-2 footer-icon"><img src="assets/images/ic_social_line.svg" alt=""></li>
        </ul>
        <ul class="infoList ">
          <li><img src="assets/images/ic_phone_48px.svg" alt="">0800-000-000</li>
          <li class="mt-1 mb-3"><img src="assets/images/ic_mail_outline_24px.svg" alt="">glasses@business.com</li>
        </ul>
      </div>
    </div>
    <div class="container ">
      <div class="d-flex flex-between mt-3 ">
        <p >Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="d-flex flex-between vaList">
          <li class="w-100-sm">隱私權政策</li>
          <li class="ml-3-sm w-100-sm">服務條款</li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
